body {
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_block {
    height: 95%;
    width: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header_block {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vmin;
}

.setting_block {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.setting_info {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vmin;
    position: relative;
}

.setting_options {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

#delete_account_button {
    height: 50%;
    width: 50%;
    border-radius: 2vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    font-size: 4vmin;
}