body {
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #FAFBFC;

}

html.dark-mode body {
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F2F2D;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#title{
    position: absolute;
    top: 10vh;
    align-items: center;
    font-size: 3.5vmin;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
html.dark-mode #title{
    position: absolute;
    top: 10vh;
    align-items: center;
    font-size: 3.5vmin;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F6F6DF;

}

#back{
    position: absolute;
    top: 10vh;    /* Odległość od góry ustawiona procentowo */
    left: 10vw;   /* Odległość od lewej strony ustawiona procentowo */
    padding: 1vh 1vw; 
    font-size: 1.7vmin;
    color: white;
    background-color: #167383;
    border-radius: 2vmin;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    user-select: none;
    
}
html.dark-mode #back{
    position: absolute;
    top: 10vh;    /* Odległość od góry ustawiona procentowo */
    left: 10vw;   /* Odległość od lewej strony ustawiona procentowo */
    padding: 1vh 1vw; 
    font-size: 1.7vmin;
    color: #212121;
    background-color: #F5F5DC;
    border-radius: 2vmin;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    user-select: none;
    
}  

#back:hover{
    background-color: #0C4E55;

}
html.dark-mode #back:hover{
    background-color: #C0C0AE;

}


#change_password_block {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: aliceblue;
    border-radius: 2vmin;
    border: 3px solid #052526;
}
html.dark-mode #change_password_block {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #212121;
    border-radius: 2vmin;
    border: 3px solid #F5F5DC;
}

#change_password_form {
    height: 75%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
}

.label {
    height: 15%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    font-size: 2.7vmin;

}

html.dark-mode .label {
    height: 15%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    font-size: 2.7vmin;
    color: #F6F6DF;
}

.input {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 2.5vmin;
    border-radius: 2vmin;
}

html.dark-mode .input {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 2.5vmin;
    border-radius: 2vmin;
    background-color: #F9F9E7;

}

#change_password_button {
    height: 13.33333%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.7vmin;
    border-radius: 2vmin;
    background-color: #167383;
    color: white;
    cursor: pointer;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    user-select: none;
}
html.dark-mode #change_password_button {
    height: 13.33333%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.7vmin;
    border-radius: 2vmin;
    background-color: #F5F5DC;
    color: #212121;
    cursor: pointer;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    user-select: none;
}

#change_password_button:hover {
    background-color: #0C4E55;
}
html.dark-mode #change_password_button:hover {
    background-color: #C0C0AE;
}




#credentials_block {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#credentials_div {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.7vmin;
    text-align: center;
    opacity: 1; /* Initially fully visible */
    animation: fadeOut 10s forwards; /* Trigger the fade-out animation */
    border-radius: 2vmin;
    background-color: red;
}

#credentials_div:hover {
    opacity: 0; /* Fade to invisible */
    visibility: hidden; /* Hide the div completely after fade */
}

/* Keyframes for the fade-out animation */
@keyframes fadeOut {
    0% {
        opacity: 1; /* Start fully visible */
        visibility: visible;
    }
    100% {
        opacity: 0; /* Fade to invisible */
        visibility: hidden; /* Disappear completely after fade */
    }
}