body {
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_block {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid black;
}