* {
    box-sizing: border-box;
}

body {
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html.dark-mode body {
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #2F2F2D;
}

.calendar_block {
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.date_block {
    height: 10%;
    width: 100%;
    display: flex;
    position: relative;
}

.time_block {
    height: 90%;
    width: 100%;
    display: flex;
    position: relative;
}

.hour_block {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid black;
}

.day_block {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    background-color: white;

}

.line {
    width: 100%;
    height: 0;
    border: 1px dashed black;
    position: absolute;
    opacity: 20%;
}

#l10 {top: 10%} #l20 {top: 20%} #l30 {top: 30%}
#l40 {top: 40%} #l50 {top: 50%} #l60 {top: 60%}
#l70 {top: 70%} #l80 {top: 80%} #l90 {top: 90%}

.hour_cell {
    width: 100%;
    height: 10%;
    position: relative;
    text-align: right;
    font-size: 2vmin;
    background-color: white;

}

.logo_cell {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    background-color: white;

}

.date_cell {
    height: 100%;
    width: 15%;
    font-size: 2.3vmin;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    border-top: 1px solid black;
    background-color: white;

}

.event_cell {
    width: 100%;
    position: absolute;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vmin;
    z-index: 10;
    border-radius: 1vmin;
    border: 1px solid #007FFF;
}


.week_block {
    width: 100%;
    height: 5%;
    position: relative;
    display: flex;
    flex-direction: row;
    border-top: 1px solid lightblue;
    border-left: 1px solid lightblue;
    border-right: 1px solid lightblue;
    border-top-left-radius: 3vmin;
    border-top-right-radius: 3vmin;
    background-color: #007FFF;
    color: white;
}

html.dark-mode .week_block {
    width: 100%;
    height: 5%;
    position: relative;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #212121;
    border-left: 1px solid #212121;
    border-right: 1px solid #212121;
    border-top-left-radius: 3vmin;
    border-top-right-radius: 3vmin;
    background-color: #F5F5DC;
    color: #212121;
}

.outer_week_backward {
    width: 20%;
    height: 100%;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
}
html.dark-mode .outer_week_backward:hover{
    width: 20%;
    height: 100%;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    background-color: #C0C0AE;
    border-top-left-radius: 3vmin;

}
.outer_week_forward {
    width: 20%;
    height: 100%;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
}
html.dark-mode .outer_week_forward:hover{
    width: 20%;
    height: 100%;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    background-color: #C0C0AE;
    border-top-right-radius: 3vmin;

}

.inner_week {
    width: 60%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vmin;
    border-left: 1px solid white;
    border-right: 1px solid white;

}

html.dark-mode .inner_week {
    width: 60%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vmin;
    border-left: 1px solid #212121;
    border-right: 1px solid #212121;

}



.settings_block {
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom-left-radius: 3vmin;
    border-bottom-right-radius: 3vmin;
    background-color: #007FFF;
    color: white;
}
html.dark-mode .settings_block {
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    border-bottom: 1px solid #212121;
    border-left: 1px solid #212121;
    border-right: 1px solid #212121;
    border-bottom-left-radius: 3vmin;
    border-bottom-right-radius: 3vmin;
    background-color: #F5F5DC;
    color: #212121;
}
html.dark-mode html.dark-mode .settings_block:hover {
    border-bottom-left-radius: 3vmin;
    border-bottom-right-radius: 3vmin;
    
}

#logo {
    width: 95%;
    height: 95%;
    object-fit: contain;
    aspect-ratio: 1 / 1;
}

.setting_cell {
    height: 100%;
    width: 33.3333%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vmin;
    cursor: pointer;
}
html.dark-mode .setting_cell:hover {
    height: 100%;
    width: 33.3333%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vmin;
    cursor: pointer;
    background-color: #C0C0AE;
}
.setting_cell_left {
    height: 100%;
    width: 33.3333%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vmin;
    cursor: pointer;
}
html.dark-mode .setting_cell_left:hover {
    height: 100%;
    width: 33.3333%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vmin;
    cursor: pointer;
    background-color: #C0C0AE;
    border-bottom-left-radius: 3vmin;

}
.setting_cell_right {
    height: 100%;
    width: 33.3333%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vmin;
    cursor: pointer;
}
html.dark-mode .setting_cell_right:hover {
    height: 100%;
    width: 33.3333%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vmin;
    cursor: pointer;
    background-color: #C0C0AE;
    border-bottom-right-radius: 3vmin;

}

#my_meetings {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

html.dark-mode #my_meetings {
    border-left: 1px solid #212121;
    border-right: 1px solid #212121;
}

.schedule_meeting {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    border: 3px solid lime;
    opacity: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4vmin;
}

.schedule_meeting:hover {
    opacity: 100%;
    cursor: pointer;
}

.schedule_meeting:active {
    background-color: lime;
}

#theme_button{
    position: absolute;
    bottom: 10vh;    /* Odległość od góry ustawiona procentowo */
    right: 10vw;   /* Odległość od lewej strony ustawiona procentowo */
    padding: 1vh 1vw; 
    font-size: 2vmin;
    color: white;
    background-color: #007FFF;
    border-radius: 2vmin;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}  
html.dark-mode #theme_button{
    position: absolute;
    bottom: 10vh;    /* Odległość od góry ustawiona procentowo */
    right: 10vw;   /* Odległość od lewej strony ustawiona procentowo */
    padding: 1vh 1vw; 
    font-size: 2vmin;
    color: #212121;
    background-color: #F5F5DC;
    border-radius: 2vmin;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
} 
html.dark-mode #theme_button:hover{
    background-color: #C0C0AE;

}