body {
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#log_in_block {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    position: relative;
}

#log_in_form {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#username_label {
    
}

