body {
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main_block {
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header_block {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vmin;
    border: 3px solid #007FFF;
    background-color: #007FFF;
    color: white;
    border-top-left-radius: 2vmin;
    border-top-right-radius: 2vmin;
    
}

.subheader_block {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vmin;
    border: 3px solid #007FFF;
    background-color: #87CEFA;
    color: white;
}

.meetings_block {
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    border-left: 3px solid #007FFF;
    border-right: 3px solid #007FFF;

}

.meeting_cell {
    width: 100%;
    height: 9%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    border: 1px dotted black;
}

.meeting_info {
    height: 80%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vmin;
    text-align: center;
}

.meeting_options {
    height: 80%;
    width: 30%;
    border: 3px solid #007FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3vmin;
}

.return_to_home_page_block {
    height: 5%;
    width: 100%;
    border: 3px solid #007FFF;
    
}
