body {
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFBFC;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
html.dark-mode body {
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F2F2D;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#schedule_block {
    height: 60%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: aliceblue;
    border-radius: 2vmin;
    border: 3px solid #052526;
}
html.dark-mode #schedule_block {
    height: 60%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #212121;
    border-radius: 2vmin;
    border: 3px solid #F5F5DC;
}

#schedule_form {
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin: 0;
}

.label {
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5vmin;

}
html.dark-mode .label {
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5vmin;
    color: #F6F6DF;
}

.input {
    height: 12%;
    width: 100%;
    font-size: 2.5vmin;
    border-radius: 2vmin;
    border-width: 0.1vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1vh;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
html.dark-mode .input {
    height: 12%;
    width: 100%;
    font-size: 2.5vmin;
    border-radius: 2vmin;
    border-width: 0.1vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1vh;
    background-color: #F9F9E7;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}


#schedule_button {
    height: 14%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.7vmin;
    border-radius: 3vmin;
    background-color: #167383;
    color: white;
    cursor: pointer;
    border: none;
    margin-top: 1vh;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

html.dark-mode #schedule_button {
    height: 14%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.7vmin;
    border-radius: 3vmin;
    background-color: #F5F5DC;
    color: #212121;
    cursor: pointer;
    border: none;
    margin-top: 1vh;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#schedule_button:hover {
    background-color: #0C4E55;
}
html.dark-mode #schedule_button:hover {
    background-color: #C0C0AE;
}




#information_block {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#information_div {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5vmin;
    text-align: center;
    opacity: 0; /* Initially fully visible */
    animation: fadeOut 10s forwards; /* Trigger the fade-out animation */
    border-radius: 2vmin;
    background-color: red;
    text-align: center;
}

#information_div:hover {
    opacity: 0; /* Fade to invisible */
    visibility: hidden; /* Hide the div completely after fade */
}

/* Keyframes for the fade-out animation */
@keyframes fadeOut {
    0% {
        opacity: 1; /* Start fully visible */
        visibility: visible;
    }
    100% {
        opacity: 0; /* Fade to invisible */
        visibility: hidden; /* Disappear completely after fade */
    }
}


#back{
    position: absolute;
    top: 10vh;    /* Odległość od góry ustawiona procentowo */
    left: 10vw;   /* Odległość od lewej strony ustawiona procentowo */
    padding: 1vh 1vw; 
    font-size: 1.8vmin;
    color: white;
    background-color: #167383;
    border-radius: 2vmin;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    
}   

html.dark-mode #back{
    position: absolute;
    top: 10vh;    /* Odległość od góry ustawiona procentowo */
    left: 10vw;   /* Odległość od lewej strony ustawiona procentowo */
    padding: 1vh 1vw; 
    font-size: 1.8vmin;
    color: #212121;
    background-color: #F5F5DC;
    border-radius: 2vmin;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    
} 

#back:hover{
    background-color: #0C4E55;

}
html.dark-mode #back:hover{
    background-color: #C0C0AE;

}
#title{
    position: absolute;
    top: 10vh;
    align-items: center;
    font-size: 3.5vmin;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
html.dark-mode #title{
    position: absolute;
    top: 10vh;
    align-items: center;
    font-size: 3.5vmin;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F6F6DF;

}
