body {
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calendar_block {
    height: 90%;
    width: 90%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    position: relative;
}

.date_block {
    height: 10%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    position: relative;
}

.time_block {
    height: 90%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    position: relative;
}

.hour_block {
    width: 10%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    position: relative;
}

.day_block {
    width: 15%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    position: relative;
}

.line {
    width: 100%;
    height: 0;
    border: 1px dotted black;
    position: absolute;
}

#l10 {top: 10%} #l20 {top: 20%} #l30 {top: 30%}
#l40 {top: 40%} #l50 {top: 50%} #l60 {top: 60%}
#l70 {top: 70%} #l80 {top: 80%} #l90 {top: 90%}

.hour_cell {
    width: 100%;
    height: 10%;
    position: relative;
    text-align: right;
}

.logo_cell {
    width: 10%;
    height: 100%;
    background-color: lightgreen;
    border: 1px solid black;
}

.date_cell {
    height: 100%;
    width: 15%;
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event_cell {
    width: 100%;
    position: absolute;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.week_block {
    width: 100%;
    height: 5%;
    border: 1px solid black;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.outer_week {
    width: 20%;
    height: 100%;
    border: 1px solid black;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
}

.inner_week {
    width: 60%;
    height: 100%;
    border: 1px solid black;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
}

.back_to_home {
    height: 5%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#logo {
    height: 100%;
    width: 100%;
}