body {
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: white;
}

html.dark-mode body {
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2F2F2D;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#title{
    position: absolute;
    top: 5%;
    align-items: center;
    font-size: 7vmin;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

html.dark-mode #title{
    position: absolute;
    top: 5%;
    align-items: center;
    font-size: 7vmin;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F6F6DF;
}


.main_container {
    height: 60%;
    width: 50%;
    box-sizing: border-box;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    border: solid 3px black ;
    border-radius: 2vmin;

}
html.dark-mode .main_container {
    height: 60%;
    width: 50%;
    box-sizing: border-box;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    border-radius: 2vmin;
    background-color: #212121;
    border: solid 3px #F5F5DC ;
}

.box{
    display: flex;
    height: 25%;
    width: 70%;
    align-items: center;        /* Wyrównanie wertykalne */
    justify-content: center;    /* Wyrównanie horyzontalne */
    text-align: center;
    position: relative;
    background-color: #007FFF;
    border-radius: 2vmin;
    font-size: 4vmin;
    color: white;
    cursor: pointer;
}
html.dark-mode .box{
    display: flex;
    height: 25%;
    width: 70%;
    align-items: center;        /* Wyrównanie wertykalne */
    justify-content: center;    /* Wyrównanie horyzontalne */
    text-align: center;
    position: relative;
    border-radius: 2vmin;
    font-size: 4vmin;
    cursor: pointer;
    background-color: #F5F5DC;
    color: #212121;
    cursor: pointer;
}
.box:hover{
    background-color: green;

}
html.dark-mode .box:hover{
    background-color: #C0C0AE;

}
.box:active{
    background-color: red;

}
#back{
    position: absolute;
    top: 5%;    /* Odległość od góry ustawiona procentowo */
    left: 5%;   /* Odległość od lewej strony ustawiona procentowo */
    font-size: 2vmin;
    color: white;
    background-color: #007FFF;
    border-radius: 2vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    height: 5%;
    width: 7%;
}   
html.dark-mode #back{
    position: absolute;
    top: 5%;    /* Odległość od góry ustawiona procentowo */
    left: 5%;   /* Odległość od lewej strony ustawiona procentowo */
    font-size: 2vmin;
    color: #212121;
    background-color: #F5F5DC;
    border-radius: 2vmin;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
} 

#back:hover{
    background-color: green;

}
html.dark-mode #back:hover{
    background-color: #C0C0AE;

}
#back:active{
    background-color: red;

}

